asttokens
colorama
comm
contourpy
cycler
decorator
executing
fonttools
ipympl
ipython
ipywidgets
jedi
jupyterlab_widgets
kiwisolver
matplotlib
matplotlib-inline
nbformat  
numpy
packaging
pandas
parso
pillow
plotly
prompt_toolkit
pure-eval
Pygments
pyparsing
python-dateutil
pytz
scipy
seaborn
six
stack-data
tenacity
tqdm
traitlets
typing_extensions
tzdata
wcwidth
widgetsnbextension