<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="projetIDM.miniLanguage.design.Activator"
               id="projetIDM.miniLanguage.design"
	       name="miniLanguage">
    </component>
  </extension>
</plugin>
